/* Remove white border*/
body { 
    margin: 0;
	font-family: Helvetica, sans-serif;
	background-color: #383838;
	color:#fff;
}

/* Top bar area*/
.topbar {
	height: 40px;/* 100% Full-height */
	display:flex;
	background-color: #111;
	align-items:center;
}
/* Sidebar controls */
.sidebarOpen, .sidebarClose{
	font-size: 32px;
	height:32px;
	width: 60px;
	text-align: center;
	vertical-align: middle;
	line-height:32px;
}
.sidebarClose {
	display: none;
	font-size: 42px;
}
.topbarTitle {
	flex: 1;
	font-size: 28px;
	font-weight: bold;
	padding-left:20px;
}






/* The sidebar menu */
.sidebar {
	height: 100%;/* 100% Full-height */
	width: 0;/* 0 width - change this with JavaScript */
	position: fixed;/* Stay in place */
	z-index: 1;/* Stay on top */
	top: 40px;
	left: 0;
	background-color: #111;/* Black*/
	overflow-x: hidden;/* Disable horizontal scroll */
	padding-top: 20px;/* Place content 60px from the top */
	transition: 0.5s;/* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.sidebar .currentPage {
	color: #fff;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
	color: #f1f1f1;
}







/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	/* If you want a transition effect */
	padding: 20px;
}




/* Search results header bar*/
.searchHeaders {
	height: 40px;/* 100% Full-height */
	display:flex;
	background-color: rgb(173, 147, 147);
	justify-content: center;
	align-items: stretch;
	
}
.searchHeaders > div {
	padding: 0.5em;
	background-color: rgb(131, 39, 39);
	/* Fill search bar with all cells of equal size */
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	/* Align the text in the cells*/
	display: flex;
	align-items: center;
}

/* Search results body*/
.searchResult {
	height: 40px;/* 100% Full-height */
	display:flex;
	background-color: rgb(0, 0, 0);
	justify-content: center;
	align-items: stretch;
	border-style:solid;
	border-width: 1px;
	border-color:rgb(131, 39, 39);
}
.searchResult > div {
	padding: 0.5em;

	/* Fill search bar with all cells of equal size */
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	/* Align the text in the cells*/
	display: flex;
	align-items: center;
}