/* Remove white border*/
body { 
    margin: 0;
	font-family: Helvetica, sans-serif;
	background-color: #383838;
	color:#fff;
}

/* Top bar area*/
.topbar {
	height: 40px;/* 100% Full-height */
	display:flex;
	background-color: #111;
	align-items:center;
	position:fixed;
	width:100%;
}
/* Sidebar controls */
.sidebarOpen, .sidebarClose{
	font-size: 32px;
	height:32px;
	width: 60px;
	text-align: center;
	vertical-align: middle;
	line-height:32px;
}
.sidebarOpen {
	display: none;
}
.sidebarClose {
	font-size: 42px;
}
.topbarTitle {
	flex: 1;
	font-size: 28px;
	font-weight: bold;
	padding-left:20px;
}






/* The sidebar menu */
.sidebar {
	height: 100%;/* 100% Full-height */
	width: 250px;/* 0 width - change this with JavaScript */
	position: fixed;/* Stay in place */
	z-index: 1;/* Stay on top */
	top: 40px;
	left: 0;
	background-color: #111;/* Black*/
	overflow-x: hidden;/* Disable horizontal scroll */
	padding-top: 20px;/* Place content 60px from the top */
	transition: 0.5s;/* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.sidebar .currentPage {
	color: #fff;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
	color: #f1f1f1;
}


/*Size fixing*/
#main {
	max-width: 1200px;
	min-width: 700px;
	margin-left: 250px;
	padding-top:40px !important;
}






/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	/* If you want a transition effect */
	padding: 20px;
}




/* Search results header bar*/
.searchHeaders {
	height: 40px;/* 100% Full-height */
	display:flex;
	background-color: rgb(173, 147, 147);
	justify-content: center;
	align-items: stretch;
}
.searchHeaders > div {
	padding: 0.5em;
	background-color: rgb(131, 39, 39);
	/* Fill search bar with all cells of equal size */
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	/* Align the text in the cells*/
	display: flex;
	align-items: center;
}

/* Search results body*/
.searchResult {
	height: 40px;/* 100% Full-height */
	display:flex;
	background-color: rgb(41, 31, 31);
	justify-content: center;
	align-items: stretch;
	border-style:solid;
	border-width: 1px;
	border-color:rgb(131, 39, 39);
}
.searchResult > div {
	padding: 0.5em;
	/* Fill search bar with all cells of equal size */
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	/* Align the text in the cells*/
	display: flex;
	align-items: center;
}
.collapsableContent {
	background-color:#222222;
	border-style:solid;
	border-width: 1px;
	border-color:rgb(131, 39, 39);
	height:auto;
	box-shadow: inset 0 0 20px #000000;
	padding: 0.25em;
}




/* Searched monster card */
.mc_header, .mc_body {
	display:flex;
}
.mc_header { flex-wrap:wrap; }
.mc_header div {
	padding: 0.5em;
	flex-grow: 1;
	text-align: center;
}
.mc_header div span {
	background-color: rgb(80, 43, 43);
	padding:0.25em 1em;
	border-radius: 25px;
}
.mc_body_left, .mc_body_right {
	flex-grow: 1;
	min-width: 200px;
	margin: 2px;
}
.mc_body_title {
	background-color: rgb(80, 43, 43);
	padding: 0.5em;
	text-transform: capitalize;
}
.mc_body_desc {
	padding: 0.5em;
	text-indent: -10px;
	margin-left: 10px
}
.mc_body_list {
	padding-bottom:0.2em;
}
.mc_body_list ul {
    list-style: none;
	margin-block:0.5em;
	padding-inline-start: 1.2em;
	text-transform: capitalize;
}
/* Add a red bullet instead of the default */
.mc_body_list ul li::before {
	content: "\2022";  
	color: rgb(131, 39, 39);
	font-weight: bold; 
	display: inline-block; 
	width: 1em; 
	margin-left: -1em; 
}



/* Close the side panel if screen width dips below limit */
@media screen and (max-width: 1000px) {
	.sidebar {
    	width: 0px;
  	}
	#main {
		margin-left: 0px;
	}
	.sidebarOpen {display:block;}
	.sidebarClose {display:none;}
}
